@page
@model MyPortfolio.Pages.ContatoModel
@{
}

<div class="contato-container">

    <section id="section1">
        <div class="contato-sumary">
            <h1>Email: rodrigosigiliao@gmail.com</h1>
            <h1>Linkedin: <a href="https://www.linkedin.com/in/rodrigotravessa/?locale=pt_BR">Linkedin/RodrigoTravessa</a></h1>
            <h1>GitHub <a href="https://github.com/rodrigo-travessa">Linkedin/RodrigoTravessa</a></h1>
            <h1>Whatsapp :+55 <a href="https://wa.me/5522997467148?text=Ola%vim%do%seu%portfolio%,gostaria%de%bater%um%papo">(22) 99746-7148</a></h1>
        </div>
        @* <div>
            <form class="form">
                <label >Email</label>
                <input class="form-control" type="text"/>
            </form>
        </div> *@
    </section>
</div>