@page

<div id="curriculo">

    <section id="section1">
        <div class="content">

            <h1>Currículo</h1>
            <h3>QUALIFICAÇÕES PROFISSIONAIS</h3>
            <p>
                Profissional com experiência na construção e manutenção de produtos web, utilizando
                recursos como ASP.NET MVC, Razor Pages, HTML5, CSS3, JavaScript, TypeScript,
                Angular, SQL, entre outros. </br>
                Especialidades: ASP.NET, C#, Microsoft SQL Server, .NET Framework, ASP.NET MVC,
                Javascript, JQuery, SQL, MySQL, HTML, CSS, Entity Framework, Azure Cloud, Docker,
                RabbitMQ, REST APIs, Razor Pages, Postman.</br>
                Experiência com padrões de projetos, como DDD, TDD , Agile e Scrum.</br>

                Inglês Fluente.
            </p>
        </div>
    </section>
    <section id="section2">
        <div class="content">

            <h3>Experiências Profissionais</h3>
            <p>
                <h5>Valtech</h5>
                Desenvolvedor BackEnd</br>
                Maio 2022 à Maio de 2023</br>
                - Desenvolvimento de componentes com Adobe Experience Manager.</br>
                - Migração do site Agro Bayer da plataforma Sitecore para AEM, headless com Front em
                React e Backend em AEM.</br>
                - Trabalho realizado com ferramentas como React, Next, Jest e outras, usando Java e
                Typescript.</br>
                - Competências: Desenvolvimento de Backend com desenvolvimento de componentes
                AEM, Java, Servlets, Testes unitários.</br></br>

                <h5>Freelancer</h5>
                Desenvolvedor .Net Full Stack</br>
                Junho/2023 – Presente</br>
                - Design, desenvolvimento, implementação e manutenção de uma aplicação de simulados e
                conteúdo de estudo especializado para prova de credenciamento de IAT da Polícia Federal.</br>
                - Desenvolvimento e deploy do site do projeto “Araruama Que eu Quero”.</br>
                - Competências: Azure, Microsoft SQL Server, ASP.NET MVC, Razor Pages, CSS, HTML,
                Entity Framework Core, Bootstrap.</br></br>

                <h5>Demais Experiências:</h5>
                - Empresário - O Aventureiro Caça e Pesca ( Jan/2012 - Abril/2022 / Jun 2023 - Presente)</br>
                - IAT Credenciado ( Jan 2022 - Presente)</br>
                - Despachante Bélico Sinarm ( Julho/2019 - Dez/2021)</br>
                - Estagiário Ministério Público ( Jun/2016 - Fev/2017)</br>
                - Estágio Voluntário Procuradoria Araruama( Fev/2014 - Maio/2014)</br>
                - Estágio Voluntário Defensoria Pública ( Jan/2013 - Jun/2013)</br></br>
                Competências: Trabalho em equipe, rápida adaptação, atendimento ao público, liderança,
                administração empresarial, gestão de pessoal, capacidade organizacional
            </p>
        </div>
    </section>
    <section id="section3">
        <div class="content">
            <h3>Projetos Notáveis</h3>
            <p>
                - Projeto de conclusão da escola de .NET MJV, WEB API implementando SQL com
                ADO.NET sendo consumida por um FrontEnd ASP.NET MVC com comunicação toda feita
                por HTTP REST e JSON.</br>
                - Mars Rover e Roman To Decimal, 2 projetos desenvolvidos usando TDD, testes feitos em
                XUnit e aplicando princípios SOLID e Clean Code.</br>
                - Card Sheet Cutter - Primeiro projeto desenvolvido com Windows Forms, servia para
                recortar uma “Card Sheet” que é um JPEG com X Colunas e Y Linhas, contendo arte de
                diversas cartas de jogos, e em um segundo momento usava AutoHotkey para manipular um
                programa de edição de imagens chamado GIMP para preparar e dimensionar as cartas
                para impressão.</br>
                - Medição de Velocidade de Leitura e de Reação, eram 2 projetos para diversão que
                mediam velocidade de Leitura/Escrita e outro para velocidade de reação do usuário.</br>
            </p>
        </div>
    </section>
    <section id="section2">
        <div class="content">
            <h3>Formação Acadêmica</h3>
            <p>
                Estácio de Sá</br>
                Bacharelado em Ciências da Computação (Jan/2023 - Dezembro 2026)</br></br>
                Universidade Cândido Mendes</br>
                Direito (2012 - 2017)</br>
            </p>
        </div>
    </section>
    <section id="section3">
        <div class="content">
            <h3>CURSOS E CERTIFICAÇÕES</h3>
            <p>
                - The Last Algorithms Course You’ll Need ( Curso de Estruturas de Dados e
                Algoritmos) - FrontEnd Masters.</br>
                - Responsive Web Design - FreeCodeCamp.org.</br>
                - .NET Core MVC - The Complete Guide 2023 - Udemy.</br>
                - Programador .NET do Zero ao Profissional com a linguagem C# - Udemy.</br>
                - C# Completo Programação Orientada a Objetos + Projetos - Udemy.</br>
                - Escola de .NET e C# - MJV Technology & Innovation.</br>
                - Design Patterns, Java e Testes Unitários - Bootcamp Interno Valtech.</br>
                - OKR Goal Setting 101 - Udemy.</br>
                - Git Going Fast - Udemy.</br>
                - Regular Expressions - Udemy.</br>
                - RESTful Web API - The Complete Guide (.NET7 API) - Udemy.</br>
                - EF SET English Test - C2 (Teste de nivelamento de Inglês A1-C2 , nota mais alta).</br>
                - Single Page Web Applications with AngularJs - Coursera.</br>
                - Curso de JavaScript e TypeScript do básico ao avançado - Udemy.</br>
                - Entity Framework Core + Asp.NET Core Web API + SQL Server - Udemy.</br>
                - Full Stack React Bootcamp with .NET API [2023] [10 Projects] - Udemy.</br>
            </p>
        </div>
    </section>
</div>